.main {
    display: grid;
    grid-template-columns: repeat(4, auto);
    row-gap: 90px;
    
    place-items: center;
    background-color: burlywood;
}


.pictures {
    width: 200px;;
    height: 200px;
    border-radius: 60px;
    border: 2px solid black;
}

.discription{
    color: black;
    text-align: center;
    font-weight: bold;
}