
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url();
*{
    font-family: 'Poppins', sans-serif;
} 

:root {
    --light-mode-primary: rgb(241, 241, 241); /*162, 170, 173*/
    --light-mode-Secondary: rgb(56, 8, 80);
    --light-mode-Accent: rgb(0, 0, 0);
    
    --dark-mode-primary: black; /* rgb(31, 42, 46); */
    --dark-mode-Secondary: rgb(231, 196, 249); 
    --dark-mode-Accent: white; /* rgb(179, 179, 179) */
    --try : rgb(113, 112, 110); /* box shadow trying  need to change !!!*/

    /* NEEDS TO CHANGE VOLUME BAR COLOR*/
    /* NEEDS TO ADD PICTURE HOVER AGAIN */
  }

body{
    background-color: var(--light-mode-primary);
}

#screen {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px,1fr));    
    row-gap: 10px;   
    place-items: center;
    
}
@media (min-width: 768px) {
    #screen {
        grid-template-columns: repeat(5, minmax(200px, 1fr)); 
    }
}
@media (max-width: 428px) {
    .pigures {
        width: 1px; 
        height: 1px; 
    }
}
@media (max-width: 500px){
    #search{
        border-radius: 0px;
    }
    
}
.pigures{
    width: 200px;
    height: 200px;
    
}
/* pictures and dark, names and dark */
.pictures {
    cursor:pointer;
    width: 200px;
    height: 200px;
    border-radius: 60px;
    border: 2px outset var(--light-mode-Secondary);
    transition: scale 150ms ease ;
}

.pictures:hover{
    scale: 1.1;
    box-shadow: 0px 10px 45px 1px rgba(0, 0, 0, 0.35);
}

.picturesDark {
    cursor:pointer;
    width: 200px;
    height: 200px;
    border-radius: 60px;
    border: 2px outset var(--dark-mode-Secondary);
    transition: scale 150ms ease;
}

.picturesDark:hover{
    scale: 1.1;
    box-shadow: 0px 10px 45px 1px rgba(231, 196, 249,0.9);
}
/* final of pics */

/* names */
.description{
    color: var(--light-mode-Accent);
    text-align: center;
    font-size: 25px;
}

.descriptionDark{
    color: var(--dark-mode-Accent);
    text-align: center;
    font-size: 25px;
}

.hidden{
    display: none;
}

#bar{
    display: flex;
    position: absolute;
    /* grid-template-columns: repeat(1,100px); */
    justify-content: center;
    position: sticky;
    top: 10px;
}
#sideBar{
    display: flex;
    flex-direction: column;
    top: 10px;
    justify-content: center;
    position: absolute;
    margin-top: 10px;
    margin-left: 10px;
    z-index: 1000;

}

#search{
    display: flex;
    align-items: center;
    flex-grow:inherit;
    width: max-content;
    padding: 25px;
    border-radius: 24px;
    background-color: rgba(217,220,222,1);
    transition: box-shadow 0.25s;
    
}


#search:focus-within {
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.75);

}

#search-input{
    font-size: 20px;
    font-family: 'Lexend', sans-serif;
    color: var(--light-mode-Accent);
    margin-left: 20px;
    margin-right: 20px;
    outline: none;
    border: none;
    background: transparent;
    width: 100%;
    max-width: 400px;
    
}

#search-input::placeholder,

#searchIcon{
    color: rgba(0,0,0,0.25); 
}

#dark-mode-icon{
    color: var(--light-mode-Secondary);
    font-size: 40px;
}



/* when you pick window */
#enlarged-view {
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    background-color: var(--light-mode-primary);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: left 0.5s ease-in-out;
    z-index: 999;
}

#back-arrow {
    position: absolute;
    top: 50%;
    left: 20px;
    font-size: 24px;
    cursor: pointer;
}

#right-arrow-id {
    position: fixed;
    top: 50%;
    right: 20px;
    z-index: 1000; 
}

#right-arrow {
    font-size: 24px;
    cursor: pointer;
}
#enlarged-img {
    width: 420px;
    height: 400px;
    border-radius: 30px;
    margin-bottom: 20px;
    transform: translateY(-20px);
    box-shadow: 0px 10px 15px rgba(117, 117, 117, 0.5), 10px 20px 20px rgba(117, 117, 117, 0.5), 0px 30px 40px rgba(117, 117, 117, 0.5);
}
#station-name-big {
    font-size: 34px;
    color: var(--light-mode-Accent);
    font-weight: 700;
    text-align: center;
    margin-bottom: 0%;
    margin-top: 0%;
}
#song-name{
    margin-top: 0%;
    font-size: 20px;
    color: var(--light-mode-Accent);
    font-weight: 400;
    text-align: center;
}

#enlarged-view.active {
    left: 0;
}

.no-scroll {
    overflow: hidden;
}

#pause-button{
    margin-top: 20px;
    cursor: pointer;
    font-size: 30px;
}

#live-button{
    cursor: pointer;
    color: var(--light-mode-Secondary);
    font-size: 30px;
    
}

/* volume */
#volume-bar {
    display: flex; 
    flex-direction: row;
    justify-content: center;
    align-items: center; 
    width: 400px;
    height: 100px; 
    /* color: var(--light-mode-Secondary); */

}

.slider-container {
    flex: 1; 
    padding: 0 10px; 
}

.slider-container #slider-vol {
    width: 100%; 
    height: 20px; 
    border: 10px;   
    cursor: pointer;
    pointer-events: auto;
}

#volume-off{
    cursor: pointer;
    font-size: 20px;
}

#volume-max{
    font-size: 20px;
    cursor: pointer;
}